html {
    font-family: sans-serif;
    min-height: 100%;
    display: flex;

    justify-content: center;
    align-items: stretch;
}

body {
    max-width: 80%;
    min-height: 100%;
    display: grid;

    grid-template-rows: 1fr auto;
    grid-template-columns: 1fr;

    gap: 0px;
}

footer {
   grid-row-start: 2;
   grid-column-start: 1;

   grid-row-end: 3;
   grid-column-end: 2;
   text-align: center;
}

main {
   grid-row-start: 1;
   grid-column-start: 1;

   grid-row-end: 2;
   grid-column-end: 2;
}

.parent {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 50px;
    grid-row-gap: 20px;
    }
    
    .div1 { 
        grid-area: 1 / 1 / 2 / 2;
        }
    .div2 { 
        grid-area: 1 / 2 / 2 / 3; 
        max-height: 1500px;
        overflow: scroll;
        } 

:root:not([data-theme="dark"]), [data-theme="light"] {
    --primary: #f4511e;
}