html {
    font-family: sans-serif;
    min-height: 100%;
    display: flex;

    justify-content: center;
    align-items: stretch;
    cursor: unset;
}

body {
    max-width: 1600px;
    min-height: 100%;
    display: grid;

    grid-template-rows: 1fr auto;
    grid-template-columns: 1fr;

    gap: 0px;
}

footer {
   grid-row-start: 2;
   grid-column-start: 1;

   grid-row-end: 3;
   grid-column-end: 2;
   text-align: center;
}

main {
   grid-row-start: 1;
   grid-column-start: 1;

   grid-row-end: 2;
   grid-column-end: 2;
}

th {
    font-weight: bold;
}

article h4 {
    margin-bottom: 0;
    padding-bottom: 0;
}

label {
    font-weight: bold;
}

h1.nadpis {
    width: 100%;
    text-align: center;
}

.parent {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 50px;
    grid-row-gap: 20px;
    margin-bottom: 0;
}

.vlevo, .vpravo {
    margin: 0;
}

.vlevo header, .vpravo header {
    margin-bottom: 0;
}
.vlevo article, .vpravo article {
    padding-bottom: 1em;
}

.vlevo {
    grid-area: 1 / 1 / 2 / 2;
}

.vpravo {
    grid-area: 1 / 2 / 2 / 3;
    overflow: scroll;
}

.tabulka-finance {
    border-radius: 1em;
    border: 1px #000 solid;
    padding: 1em;
    background-color: #EBDBCA;
}

.calc-form {
    margin: 0;
}

.expense-display {
    margin: 1em;
}

.expense-display > header {
    font-weight: 600;
}

:root:not([data-theme="dark"]), [data-theme="light"] {
    --primary: #f4511e;
}

.vydaj-tabulka td {
    font-size: 40px;
    color: #f4511e;
    text-align: center;
    font-weight: bold;
}

.vyber-rok {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 0;
}

.vyber-rok input {
    visibility: hidden;
}

.vyber-rok label {
    font-size: 5em;
    font-weight: normal;
}

.vyber-rok input:checked + label {
    border-bottom: 2px var(--primary) solid;
}

.instrukce-kontejner {
    wdith: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
}
.instrukce {
    width: 50%;
    padding-bottom: 1em;
}

.instrukce h4 {
    display: inline;
}

.instrukce details {
    border-bottom: none;
}

/*
 *
 * Jednotlivé výdaje
 *
 *
 */

.flexperiment {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    width: 100vw;
    margin-left: calc((100vw - 100%) / -2);
    margin-right: calc((100vw - 100%) / -2);
}

.flexperiment article {
    flex-grow: 0;
}

.expense-stat {
    margin-bottom: 0;
    margin-top: 0;
    padding-bottom: 0;
}

.expense-stat span {
    font-size: 2em;
    color: #f4511e;
    text-align: center;
    font-weight: bold;
}

.expense-stat header {
    padding: 1em;
    margin-bottom: 0;
    text-align: center;
    font-weight: bold;
    filter: invert(1);
}

.expense-display {
    max-width: 34em;
}

.expense-display div {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 1em;
    grid-row-gap: 1em;
    grid-template-rows: 1fr 1fr;
    grid-template-areas:
      "rok cena"
      "podil_procento podil_kc";
}

.expense-display .rok { grid-area: rok; }
.expense-display .cena { grid-area: cena; }
.expense-display .podil_procento { grid-area: podil_procento; }
.expense-display .podil_kc { grid-area: podil_kc; }

/*
 *
 * Layout
 *
 *
 */
.main {
  display: grid;
  grid-template-columns: 1.5fr 1fr 1.5fr;
  grid-template-rows: 1fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas:
    "prijmy form vydaje";
}

.form { grid-area: form; }

.prijmy { grid-area: prijmy; }

.vydaje { grid-area: vydaje; }

